<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nouvel entretien créé</title>
</head>
<body>
    <h1>Nouvel entretien créé</h1>
    <p>Un nouvel entretien a été créé pour l'équipement <strong>{{ entretien.nomEquipement }}</strong>.</p>
    <p>Description : {{ entretien.descreption }}</p> <!-- Utilisez "descreption" au lieu de "description" -->
</body>
</html>